.draggableMain {
  position: fixed;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  overflow: hidden;
  z-index: 99;
}

.draggableToolBar {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  align-items: center;
  font-size: small;
  user-select: none;
  font-weight: 400;
}

.draggableTitle {
  flex-grow: 1;
  padding-left: '10px';
  color: black;
  user-select: none;
}

.draggableContentArea {
  flex-grow: 1;
  overflow: auto;
  display: flex;
}